html, body {
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    background-color:red;
}

h1 {
    font-size: 8rem;
    color: white;
    font-family: sans-serif;
}
h2 {
  color: white;
  font-family: sans-serif;  
}


canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

